﻿@model SaveTime.Web.Admin.Models.Branch.BranchViewModel


<h2>Create</h2>


<form action="/Branch/Create/" method="post" id="form-create-branch">

    <div class="form-horizontal">
        <h4>Company</h4>
        <hr />
        @Html.ValidationSummary(true, "", new { @class = "text-danger" })
        <div class="form-group">
            @Html.LabelFor(model => model.CreateBranch.Email, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.CreateBranch.Email, new { htmlAttributes = new { @class = "form-control", Name="Email" } })
                @Html.ValidationMessageFor(model => model.CreateBranch.Email, "", new { @class = "text-danger" })
            </div>
        </div>

        @*<div class="form-group">
                @Html.LabelFor(model => model.CreateBranch.Address, htmlAttributes: new { @class = "control-label col-md-2" })
                <div class="col-md-10">
                    @Html.EditorFor(model => model.CreateBranch.Address, new { htmlAttributes = new { @class = "form-control", Name = "Address", Id=} })
                    @Html.ValidationMessageFor(model => model.CreateBranch.Address, "", new { @class = "text-danger" })
                </div>
            </div>*@

        <div class="form-group">
            @Html.LabelFor(model => model.CreateBranch.Address, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.CreateBranch.Address, new { htmlAttributes = new { @class = "form-control", Name = "Address" } })
                @Html.ValidationMessageFor(model => model.CreateBranch.Address, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.CreateBranch.Companies, "Companies", htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                <select class="form-control company">
                    <option value="usa">United States</option>
                    <option value="usa">United States</option>
                </select>
            </div>
        </div>

        <div class="form-group">
            <div class="col-md-offset-2 col-md-10">
                <input type="submit" value="Create" class="btn btn-default" id="btn-create-branch" />
            </div>
        </div>
    </div>
</form>
