﻿@model SaveTime.Web.Admin.Models.Branch.BranchViewModel

@{
    ViewBag.Title = "Index";
}

<div class="container-fluid">
    <div class=" row">
        <div class="col-lg-12">
            <h2>Company</h2>

            <table class="table" id="companies-table">
                <tr>
                    <th>
                        @Html.DisplayNameFor(model => model.CreateBranch.Email)
                    </th>
                    <th>
                        @Html.DisplayNameFor(model => model.CreateBranch.Address)
                    </th>
                    <th>
                        @Html.DisplayNameFor(model => model.CreateBranch.StartWork)
                    </th>
                    <th>
                        @Html.DisplayNameFor(model => model.CreateBranch.EndWork)
                    </th>
                    <th>
                        @Html.DisplayNameFor(model => model.CreateBranch.StepWork)
                    </th>
                    <th></th>
                </tr>

                @foreach (var item in Model.Branches)
                {
                    <tr>
                        <td>
                            @Html.DisplayFor(modelItem => item.Email)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.Address)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.StartWork)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.EndWork)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.StepWork)
                        </td>
                        <td>
                            @*@Html.ActionLink("Edit", "Edit", new { id = item.Id }) |*@
                            @*@Html.ActionLink("Details", "Details", new { id = item.Id, onclick = $"GetDetails({item.Id})" }) |*@
                            <a data-id="@item.Id" class="company-details" href="#">Details</a> |
                            @*@Html.ActionLink("Delete", "Delete", new { id = item.Id })*@
                        </td>
                    </tr>
                }

            </table>
        </div>
    </div>
    <div class="row">
        <div class="col-lg-6">
            @Html.Partial("_CreateBranch");
        </div>
    </div>
    <div class="row">
        <div class="col-lg-12" id="companyDetails">

        </div>
    </div>
</div>

@section scripts
    {
    <script type="text/javascript">
        $("select.company").ready(function (e) {
            //e.preventDefault();
            $.get("/Branch/GetCompanies", null, function (value) {
                $("select.company").html("");

                for (var i = 0; i < value.length; i++) {
                    $("select.company").append('<option value="' + value[i].Name + '">' + value[i].City + '</option>');
                }
                console.log(value);
            })
            //alert();
        });

       
        $("#btn-create-branch").on("click", function (e) {
            e.preventDefault();
             var dataForm = $("#form-create-branch").serialize();
            console.log(dataForm);
            $.post("/Branch/Create", dataForm, function (value) {
                //console.log(dataForm);
            })
        })
    </script>
}