﻿@model SaveTime.Web.Admin.Models.Company.CompanyViewModel


<h2>Create</h2>


<form action="/Company/Create/" method= "post" id="form-create">
    @Html.AntiForgeryToken()

    <div class="form-horizontal" >
        <h4>Company</h4>
        <hr />
        @Html.ValidationSummary(true, "", new { @class = "text-danger" })
        <div class="form-group">
            @Html.LabelFor(model => model.CreateCompany.Name, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.CreateCompany.Name, new { htmlAttributes = new { @class = "form-control", Name="Name" } })
                @Html.ValidationMessageFor(model => model.CreateCompany.Name, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.CreateCompany.City, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.CreateCompany.City, new { htmlAttributes = new { @class = "form-control",  Name="City" } })
                @Html.ValidationMessageFor(model => model.CreateCompany.City, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            <div class="col-md-offset-2 col-md-10">
                <input type="submit" value="Create" class="btn btn-default" id="btn-create" />
            </div>
        </div>
    </div>
</form>


@section Scripts {
    @*<script>
        $("#btn-create").on("click", function (e) {
            var data = $("#form-create").serialize();

            e.preventDefault();
            $.post("/Company/Create/", data, function (value) {
                alert(value);
            });

        })
    </script>*@
    @Scripts.Render("~/bundles/jqueryval")
}
