﻿@model SaveTime.Web.Admin.Models.Company.CompanyViewModel


<h2>Edit</h2>


<form action="/Company/Edit/" method="post" id="form-edit">
    @Html.AntiForgeryToken()
    <div class="form-horizontal">
        <h4>Company</h4>
        <hr />
        @Html.ValidationSummary(true, "", new { @class = "text-danger" })
        @*@Html.HiddenFor(model => model.Id)*@

        <div class="form-group">
            @Html.LabelFor(model => model.CreateCompany.Id, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.CreateCompany.Id, new { htmlAttributes = new { @class = "form-control", Name="Id" } })
                @Html.ValidationMessageFor(model => model.CreateCompany.Id, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.CreateCompany.Name, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.CreateCompany.Name, new { htmlAttributes = new { @class = "form-control", Name="Name" } })
                @Html.ValidationMessageFor(model => model.CreateCompany.Name, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.CreateCompany.City, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.CreateCompany.City, new { htmlAttributes = new { @class = "form-control", Name="City" } })
                @Html.ValidationMessageFor(model => model.CreateCompany.City, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            <div class="col-md-offset-2 col-md-10">
                <input type="submit" value="Save" class="btn btn-default" id="btn-edit"/>
            </div>
        </div>
    </div>
</form>

