﻿@model SaveTime.Web.Admin.Models.Company.CompanyDetailsViewModel

@{
    ViewBag.Title = "Details";
    Layout = null;
}

<h2>Details</h2>

<div>
    <h4>Company</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.Name)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Name)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.City)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.City)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.Id }) |
</p>

<h3>Branches for @Model.Name</h3>
<table class="table">
    @foreach (var branch in Model.Branches)
    {
        <tr>
            <td> @Html.DisplayFor(modelItem => branch.Phone) </td>
            <td> @Html.DisplayFor(modelItem => branch.Address) </td>
            <td> @Html.DisplayFor(modelItem => branch.StartWork) </td>
            <td> @Html.DisplayFor(modelItem => branch.EndWork) </td>
            @*<td>
                    @Html.ActionLink("Edit", "Edit", new { id = branch.Id }) |
                    @Html.ActionLink("Details", "Details", new { id = branch.Id }) |
                    @Html.ActionLink("Delete", "Delete", new { id = branch.Id })
                </td>*@
        </tr>
    }

</table>

