﻿@model SaveTime.Web.Admin.Models.Company.CompanyViewModel

@{
    ViewBag.Title = "Index";
    int selfId;
}
<div class="container-fluid">
    <div class=" row">
        <div class="col-lg-12">
            <h2>Company</h2>

            <table class="table" id="companies-table">
                <tr>
                    <th>
                        @Html.DisplayNameFor(model => model.CreateCompany.Id)
                    </th>
                    <th>
                        @Html.DisplayNameFor(model => model.CreateCompany.Name)
                    </th>
                    <th>
                        @Html.DisplayNameFor(model => model.CreateCompany.City)
                    </th>
                    <th></th>
                </tr>

                @foreach (var item in Model.Companies)
                {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.Id)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Name)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.City)
                </td>
                <td>
                    @*@Html.ActionLink("Edit", "Edit", new { id = item.Id }) |*@
                    @*@Html.ActionLink("Details", "Details", new { id = item.Id, onclick = $"GetDetails({item.Id})" }) |*@
                    <a data-id="@item.Id" class="company-details" href="#">Details</a> |
                    @Html.ActionLink("Delete", "Delete", new { id = item.Id })
                </td>
            </tr>
                }

            </table>
        </div>
    </div>
    <div class="row">
        <div class="col-lg-6">
            @Html.Partial("_CreateCompany");
        </div>
        <div class="col-lg-6">
            @Html.Partial("_EditCompany")
        </div>
    </div>
    <div class="row">
        <div class="col-lg-12" id="companyDetails">

        </div>
    </div>
</div>

@section scripts{
    <script>
        function GetCompanies() {
              $.get("/Company/GetCompanies", null, function (listofcompanies) {
                    var tbody = "<tbody>";
                    for (var i = 0; i < listofcompanies.length; i++) {
                        
                    console.log(listofcompanies[i]);
                        var tr = "<tr>";
                        var td = "<td>";
                        td += (listofcompanies[i].Name);
                        td += "</td>";
                        tr += td;

                        td = "<td>";
                        td += (listofcompanies[i].City);
                        td += "</td>";
                        tr += td;

                        tr += "</tr>";
                        tbody += tr;

                        tbody += "</tbody>";
                    }

                    console.log(tbody);

                    $("#companies-table").html(tbody);
                });
        }


        $(".company-details").on("click", function () {
            $("#companyDetails").load("@Url.Action("Details","Company")/" + $(this).attr("data-id"))
        })

        $("#btn-edit").on("click", function (e) {
            e.preventDefault();
            var dataEdit = $("#form-edit").serialize();
            console.log("data Edit:", dataEdit);
            $.post("/Company/Edit", dataEdit, function (value) {

            }).then(GetCompanies());
        })

        $("#btn-create").on("click", function (e) {
                e.preventDefault();
               var data = $("#form-create").serialize();
               console.log(data);

           
            $.post("/Company/Create", data, function (value) {
                //alert(value);
            }).then(GetCompanies());

        })

    </script>
}

